@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@font-face {
  font-family: "Gobold Thin Light";
  src: url("../fonts/Gobold_Light.eot?") format("eot"), url("../fonts/Gobold_Light.woff") format("woff"), url("../fonts/Gobold_Light.ttf") format("truetype"), url("../fonts/Gobold_Light.svg#GoboldThinLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0.2em;
  padding-bottom: 0.1em;
  width: 100%;
  background-color: #1a535c;
  position: fixed;
  border-bottom: dotted 0.1px #cccccc;
  z-index: 1;
}

.navbar__logo {
  height: 7vh;
  margin-left: 0.6em;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.navbar__list ul li a {
  padding-left: 2em;
  padding-right: 2em;
  color: #cccccc;
}

.navbar__list ul li:hover {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.navbar__list ul li a:hover {
  color: #bfa733;
}

@media screen and (max-width: 700px) {
  .navbar {
    font-size: 0.8em;
  }
  .navbar__logo {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

a {
  text-decoration: none;
}

.home {
  text-align: center;
  height: 100vh;
}

.home img {
  width: 27em;
  -webkit-transform: translateY(-135%);
          transform: translateY(-135%);
}

.home__backvideo video {
  width: 98.9vw;
  height: 100vh;
  -o-object-fit: fill;
     object-fit: fill;
}

@media screen and (max-width: 700px) {
  .home {
    height: 100%;
    background-color: #1a535c;
  }
  .home img {
    margin-top: 4em;
    margin-bottom: 4em;
    max-width: 80vw;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .home__backvideo {
    display: none;
  }
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 50% 30%;
      grid-template-columns: 20% 50% 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.about__title {
  font-family: "Gobold Thin Light";
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: bold;
  font-size: 1.8em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  color: #1a535c;
  margin-top: 2em;
  margin-bottom: 2em;
}

.about__text {
  padding: 2em;
  text-align: justify;
}

.about__text ul {
  list-style: none;
}

.about__text .subtitles {
  color: #bfa733;
  font-weight: bold;
}

.about__cvVisuel {
  text-align: center;
}

.about__cvVisuel img {
  width: 70%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.about__cvVisuel img:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

@media screen and (max-width: 700px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__title {
    font-family: "Gobold Thin Light";
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    letter-spacing: 0.2rem;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    text-orientation: sideways;
    color: #1a535c;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .about__text {
    padding: 1em;
  }
  .about__cvVisuel {
    margin-bottom: 4em;
  }
  .about__cvVisuel img {
    text-align: center;
    width: 40%;
  }
}

.realisations {
  background-color: #1a535c;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -o-object-fit: contain;
     object-fit: contain;
}

.realisations__title {
  font-family: "Gobold Thin Light";
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: bold;
  font-size: 1.8em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  color: white;
  margin-top: 2em;
  margin-bottom: 2em;
}

.realisations__projectsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 3em;
}

.realisations__projects {
  width: 35vw;
  height: 40vh;
  -webkit-box-shadow: 0 0 1em #cccccc;
          box-shadow: 0 0 1em #cccccc;
  margin-top: 3em;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: relative;
}

.realisations__projects img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  opacity: 1;
}

.realisations__projects p {
  color: white;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: justify;
  width: 70%;
}

.realisations__projects:hover img {
  opacity: 0.3;
}

.realisations__projects:hover p {
  opacity: 1;
}

@media screen and (max-width: 700px) {
  .realisations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .realisations__title {
    font-family: "Gobold Thin Light";
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    letter-spacing: 0.2rem;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    text-orientation: sideways;
    color: white;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .realisations__projectsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .realisations__projects {
    width: 90vw;
    height: 44vh;
    -webkit-box-shadow: 0 0 1em #cccccc;
            box-shadow: 0 0 1em #cccccc;
    margin-top: 2em;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
    position: relative;
    margin-bottom: 4em;
  }
  .realisations__projects img {
    height: 80%;
  }
  .realisations__projects p {
    color: white;
    font-weight: initial;
    left: 0;
    top: 81%;
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
    text-align: center;
    width: 100%;
  }
}

.contact {
  color: #1a535c;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 50% 30%;
      grid-template-columns: 20% 50% 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-bottom: 2em;
}

.contact__title {
  font-family: "Gobold Thin Light";
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: bold;
  font-size: 1.8em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  color: #1a535c;
}

.contact__social {
  text-align: center;
  font-size: 1.2em;
  margin-top: 1.5em;
}

.contact__social a {
  color: #1a535c;
}

.contact__social .mail {
  -webkit-text-decoration: underline #bfa733;
          text-decoration: underline #bfa733;
}

.contact__social .mail:hover {
  color: #bfa733;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1em;
}

.contact__form input {
  margin-bottom: 2em;
  height: 4vh;
  width: 35vw;
  border-bottom: solid 1px #1a535c;
  border-top: none;
  border-left: none;
  border-right: none;
}

.contact__form input::-webkit-input-placeholder {
  color: #1a535c;
}

.contact__form input:-ms-input-placeholder {
  color: #1a535c;
}

.contact__form input::-ms-input-placeholder {
  color: #1a535c;
}

.contact__form input::placeholder {
  color: #1a535c;
}

.contact__form textarea {
  height: 16vh;
  background-color: #1a535c;
}

.contact__form textarea::-webkit-input-placeholder {
  color: white;
}

.contact__form textarea:-ms-input-placeholder {
  color: white;
}

.contact__form textarea::-ms-input-placeholder {
  color: white;
}

.contact__form textarea::placeholder {
  color: white;
}

.contact__form textarea:focus {
  color: white;
}

.contact__form button {
  width: 10vw;
  margin-top: 1.7em;
  height: 4vh;
  background-color: #bfa733;
  color: #1a535c;
  font-weight: 800;
  border: none;
}

.contact__form button:hover {
  background-color: white;
  cursor: pointer;
  color: #1a535c;
  border: solid 1px #1a535c;
}

.contact__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
}

.contact__logosImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__logosImg img {
  width: 2em;
  margin: 1.5em;
}

@media screen and (max-width: 700px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__title {
    font-family: "Gobold Thin Light";
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    letter-spacing: 0.2rem;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    text-orientation: sideways;
    color: #1a535c;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .contact__social {
    text-align: center;
    font-size: 1em;
  }
  .contact__logos {
    margin-top: 2em;
    font-size: 0.8em;
  }
  .contact__logos img {
    width: 2em;
    margin-right: 1em;
    margin-left: 1em;
  }
}
/*# sourceMappingURL=styles.css.map */